@{
    ViewData["Title"] = "Home Page";
}

@model UserAndVehicals

<style>
    td{
        
        padding:10px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome @Model.User.Name </h1>
    <div>
        
    </div>
</div>

<div class="mt-2 d-flex justify-content-between">
    <div class="fs-5 fw-bold">
        Vehicals Own
    </div>
    <div>
        <button type="button" class="btn btn-dark "> @Html.ActionLink("+ Add Vehical", "AddVehical", "Home")   </button>
    </div>
</div>
<hr>
<div class=" container">
    <div class="row">
        @if(Model.Vehical.Count !=0)
        {
            
        foreach(var vehical in Model.Vehical)
            {
                <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-header text-end">
                            <button class="btn " asp-action="DeleteVehical" asp-route-id="1"> <i class="bi bi-trash-fill text-danger fs-5"></i> </button>
                    </div>
                    <div class="card-body">
                        <table>
                            <tr>
                                <th>
                                    Organization Name
                                </th>
                                <td>
                                    @vehical.Organisationname
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Make Of Vehical
                                </th>
                                <td>
                                    @vehical.Makeofvehicle
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    vehical Number
                                </th>
                                <td>
                                    @vehical.VehicleNumber
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Engin Number
                                </th>
                                <td>
                                    @vehical.EngineNumber
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Chassis Number
                                </th>
                                <td>
                                    @vehical.ChassisNumber
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Manifacturing Year
                                </th>
                                <td>
                                    @vehical.Manufacturingyear
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Load Carying Capacity
                                </th>
                                <td>
                                    @vehical.Loadcarryingcapacity
                                </td>
                            </tr>
                        </table>
                        
                        
                        
                    </div>
                </div>
                </div>

            }
        }
        else
        {
            <h3> No Vehicals Registerd!! </h3>
        }
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
    function delete(id){
        /*var id = 123;*/ // Replace with the actual ID value you want to pass
        $.ajax({
                url: '/HomeController/DeleteVehical/'+id,
          type: 'Delete',
         
          success: function(result) {
            // Handle the success response
          },
          error: function(xhr, status, error) {
            // Handle the error response
          }
        });
      });
    });
</script>
